* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e1418;
}

.tabbar {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0.708333rem;
  left: 4.111111rem;
  right: 4.111111rem;
  background-color: #182127;
  width: 1.777778rem;
  height: 0.277778rem;
  border-radius: 0.138889rem;
  overflow: hidden;
}

.tab {
  width: 0.833333rem;
  height: 0.222222rem;
  margin: 0 0.055556rem;
  color: #88919c;
  text-align: center;
  font-size: 0.083333rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: transform 0.3s ease;
}

.tab.active {
  width: 0.833333rem;
  height: 0.222222rem;
  border-radius: 0.138889rem;
  background-color: #274afe;
  color: #fff;
  text-align: center;
  font-size: 0.083333rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s ease;
}

#upload-icon {
  width: 0.222222rem;
  height: 0.222222rem;
}

#upload-text {
  color: #fff;
  font-size: 0.083333rem;
}

#form-ref {
  top: 1.097222rem;
  left: 3.611111rem;
  right: 3.611111rem;
  width: 2.777778rem;
  z-index: 9999;
}

#form-ref2 {
  top: 1.097222rem;
  left: 3.611111rem;
  right: 3.611111rem;
  width: 2.777778rem;
}

.ant-upload-drag {
  border: 0.010417rem dashed #d9d9d9 !important;
}

label {
  color: #fff !important;
}

input {
  width: 2.777778rem !important;
  height: 0.284722rem !important;
  background: #151e24 !important;
  border-color: #2c353e !important;
  caret-color: #fff !important;
  color: #fff !important;
}

input::placeholder,
textarea::placeholder {
  color: #55606a !important;
}

textarea {
  background: #151e24 !important;
  border-color: #2c353e !important;
  caret-color: #fff !important;
  color: #fff !important;
}

.ant-upload-list-item-name {
  color: #d8e3ec !important;
  font-size: 0.083333rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#upload-btn {
  width: 200px !important;
  height: 40px !important;
  border-radius: 24px !important;
}

.ant-btn-icon svg,
.ant-upload-icon svg {
  fill: #d8e3ec !important;
}
