---
import NieTaContentOne from './NieTaContentOne.astro';
import NieTaContentTwo from './NieTaContentTwo.astro';
import NieTaContentThree from './NieTaContentThree.astro';
---

<div class="relative" style="background: #0E1418;">
  <NieTaContentOne />
</div>
<div class="relative" style="background: #0E1418;">
  <NieTaContentTwo />
</div>
<div class="relative" style="background: #0E1418;">
  <NieTaContentThree />
</div>
