---
import NieTaContent from '@assets/text/content-nieta2-new.svg';
import NieTaContent744 from '@assets/text/content-nieta2-744-new.svg';
import item1 from '@assets/barrage/item1.svg';
import item2 from '@assets/barrage/item2.svg';
import item3 from '@assets/barrage/item3.svg';
import item4 from '@assets/barrage/item4.svg';
import item5 from '@assets/barrage/item5.svg';
import item6 from '@assets/barrage/item6.svg';
import item7 from '@assets/barrage/item7.svg';
import item8 from '@assets/barrage/item8.svg';
import item9 from '@assets/barrage/item9.svg';
import item10 from '@assets/barrage/item10.svg';
import { Image } from 'astro:assets';
const BarrageList = [item1, item2, item3, item4, item5];

const BarrageList2 = [item6, item7, item8, item9, item10];
---

<!-- text-img -->
<div class="absolute" id="text-3">
  <Image src={NieTaContent} alt="NieTaContent" decoding="async" loading="lazy" class="text2" />
  <Image src={NieTaContent744} alt="NieTaContent744" decoding="async" loading="lazy" class="text2" />
</div>

<!-- text-true -->
<div class="absolute" id="text-3-t">
  <span
    >AI只是工具，为创作注入灵魂的是你我；<br />AI技术成为二次创作的翅膀，让原创作品获得更深的影响力和更远的传播。<br
    />因此，捏Ta积极参与技术社区共建，让更多人的灵感被「创作」，一起捏造快乐。</span
  >
</div>

<div class="absolute" id="barrage-container">
  <!-- barrage -->
  <div class="flex barrage-1">
    {
      BarrageList.map((item) => (
        <div class="barrage-item">
          <Image src={item} alt="barrage" decoding="async" loading="lazy" />
        </div>
      ))
    }
  </div>

  <!-- barrage -->
  <div class="flex barrage-2">
    {
      BarrageList2.map((item) => (
        <div class="barrage-item">
          <Image src={item} alt="barrage" decoding="async" loading="lazy" />
        </div>
      ))
    }
  </div>
</div>
<style>
  #text-3 {
    animation: fadeIn 3s ease-in-out;
    animation-delay: 0.2s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<script></script>
