---
import NieTaContent from '@assets/text/content-nieta2.svg';
import NieTaContent744 from '@assets/text/content-nieta2-744.svg';

const BarrageList = [
  '/src/assets/barrage/item1.svg',
  '/src/assets/barrage/item2.svg',
  '/src/assets/barrage/item3.svg',
  '/src/assets/barrage/item4.svg',
  '/src/assets/barrage/item5.svg',
];

const BarrageList2 = [
  '/src/assets/barrage/item6.svg',
  '/src/assets/barrage/item7.svg',
  '/src/assets/barrage/item8.svg',
  '/src/assets/barrage/item9.svg',
  '/src/assets/barrage/item10.svg',
];
---

<!-- text -->
<div class="absolute" id="text-3">
  <img src={NieTaContent.src} alt="NieTaContent" decoding="async" loading="lazy" class="text2" />
  <img src={NieTaContent744.src} alt="NieTaContent744" decoding="async" loading="lazy" class="text2" />
</div>

<div class="absolute" id="barrage-container">
  <!-- barrage -->
  <div class="flex barrage-1">
    {
      BarrageList.map((src: string) => (
        <div class="barrage-item">
          <img src={src} alt="barrage" decoding="async" loading="lazy" />
        </div>
      ))
    }
  </div>

  <!-- barrage -->
  <div class="flex barrage-2">
    {
      BarrageList2.map((src: string) => (
        <div class="barrage-item">
          <img src={src} alt="barrage" decoding="async" loading="lazy" />
        </div>
      ))
    }
  </div>
</div>
<style>

</style>

<script></script>
