---
import Text from '@assets/text/bottom-nieta-text.svg';
import { Image } from 'astro:assets';
---

<footer class="relative" style="background: #131B22;" id="nieta-footer">
  <!-- text -->
  <div class="absolute" id="text-5">
    <Image src={Text} alt="Text" decoding="async" loading="lazy" />
  </div>

  <!-- copyright -->
  <!-- <div class="absolute" id="copyright">
    <Image src={Copyright} alt="Copyright" decoding="async" loading="lazy" />
    <Image src={Copyright375} alt="Copyright375" decoding="async" loading="lazy" />
  </div> -->

  <!-- email -->
  <div class="absolute" id="email">
    <span>邮箱：1232@qq.com</span>
  </div>

  <div class="absolute" id="address">
    <span>Copyright © 看见概念（上海）智能科技有限公司 2023 沪ICP备2023001339号-1</span>
  </div>
</footer>

<style></style>
