---
import Layout from '../layouts/Layout.astro';
import NietaHeader from '../components/NieTaHeader/index.astro';
import NieTaContent from '../components/NieTaContent/index.astro';
import NieTaFooter from '../components/NieTaFooter/index.astro';
import Animation from './animation.astro';
---

<Layout title="捏Ta">
  <Animation />
  <div class="hidden" id="main-content">
    <NietaHeader />
    <NieTaContent />
    <NieTaFooter />
  </div>
</Layout>

<style>
  @keyframes slideInBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>

<script>
  window.addEventListener('load', function () {
    var loader = document.getElementById('loader')!;
    var progressBar = document.getElementById('progress-bar')!;
    var bottomProgressBar = document.getElementById('bottom-progress-bar')!;
    var percentage = document.getElementById('percentage')!;
    var loadingText = document.getElementById('loading-text')!;
    var mainContent = document.getElementById('main-content')!;
    var animationBox = this.document.getElementById('animation-box')!;
    var nietaHeader = document.querySelector('#nieta-header')! as HTMLDivElement;
    var nietaContent1 = document.querySelector('#nieta-content1')! as HTMLDivElement;
    var nietaContent2 = document.querySelector('#nieta-content2')! as HTMLDivElement;
    var nietaContent3 = document.querySelector('#nieta-content3')! as HTMLDivElement;
    var nietaFooter = document.querySelector('#nieta-footer')! as HTMLDivElement;
    var character1 = document.querySelector('#pag1')! as HTMLCanvasElement;
    var character2 = document.querySelector('#pag2')! as HTMLCanvasElement;
    var character3 = document.querySelector('#pag3')! as HTMLCanvasElement;
    var image1 = document.querySelector('#headerAssistant') as HTMLImageElement;
    var image2 = document.querySelector('#contentAssistant') as HTMLImageElement;
    var image3 = document.querySelector('#trainsAssistant') as HTMLImageElement;

    var parent = mainContent.parentNode!;
    var height = 0;
    var width = 0;
    var touchedPercentage = false;
    animationBox.style.backgroundColor = '#000';
    var bottomInterval = setInterval(loadBottomProgress, 24);
    function loadBottomProgress() {
      if (width >= 100) {
        clearInterval(bottomInterval);
        animateProgressBar();
      } else {
        width += 2;
        bottomProgressBar.style.width = width + '%';
        percentage.innerHTML = width + '%';

        if (width === 60 && !touchedPercentage) {
          loadingText.style.opacity = '1';
        }
      }
    }

    function animateProgressBar() {
      var interval = setInterval(frame, 2);

      function frame() {
        if (height >= 100) {
          clearInterval(interval);
          loader.style.display = 'none';
        } else {
          height += 10;
          progressBar.style.height = height + '%';
          if (height === 20 && !touchedPercentage) {
            loadingText.style.color = '#000';
          }
          if (height === 100 && !touchedPercentage) {
            touchedPercentage = true;
            percentage.classList.add('transition'); // 添加过渡类
            percentage.style.color = '#FB7DF1';

            setTimeout(() => {
              animationBox.style.background =
                'linear-gradient(156deg, #151a31 0%, #191e37 14.73%, #12172c 35.15%, #0d1317 76.29%)';
              percentage.style.opacity = '0';
              bottomProgressBar.style.display = 'none';
              progressBar.style.animation = 'progressBarAnimation 1s ease-in-out forwards';

              toHome();
              loadingText.style.animation = 'loadingTextAnimation 1s ease-in-out forwards';
            }, 1000); // 停留 1 秒钟

            function toHome() {
              setTimeout(() => {
                loader.remove();
                progressBar.remove();
                bottomProgressBar.remove();
                percentage.remove();
                loadingText.remove();
                character1.remove();
                character2.remove();
                character3.remove();
                image1.style.display = 'block';
                image2.style.display = 'block';
                image3.style.display = 'block';
                parent.insertBefore(nietaHeader, mainContent);
                parent.insertBefore(nietaContent1, mainContent);
                parent.insertBefore(nietaContent2, mainContent);
                parent.insertBefore(nietaContent3, mainContent);
                parent.insertBefore(nietaFooter, mainContent);
              }, 1500);
            }
          }
        }
      }
    }
  });
</script>
