---
import Layout from '../layouts/Layout.astro';
import NietaHeader from '../components/NieTaHeader/index.astro';
import NieTaContent from '../components/NieTaContent/index.astro';
import NieTaFooter from '../components/NieTaFooter/index.astro';
import Animation from './animation.astro';
---

<Layout title="捏Ta">
  <Animation />
  <div class="hidden" id="main-content">
    <NietaHeader />
    <NieTaContent />
    <NieTaFooter />
  </div>
</Layout>

<script>
  window.addEventListener('load', function () {
    const loader = document.getElementById('loader')!;
    const progressBar = document.getElementById('progress-bar')!;
    const bottomProgressBar = document.getElementById('bottom-progress-bar')!;
    const percentage = document.getElementById('percentage')!;
    const loadingText = document.getElementById('loading-text')!;
    const mainContent = document.getElementById('main-content')!;
    const animationBox = this.document.getElementById('animation-box')!;
    const nietaHeader = document.querySelector('#nieta-header')! as HTMLDivElement;
    const nietaContent1 = document.querySelector('#nieta-content1')! as HTMLDivElement;
    const nietaContent2 = document.querySelector('#nieta-content2')! as HTMLDivElement;
    const nietaContent3 = document.querySelector('#nieta-content3')! as HTMLDivElement;
    const nietaFooter = document.querySelector('#nieta-footer')! as HTMLDivElement;

    let parent = mainContent.parentNode!;
    let height = 0;
    let width = 0;
    let touchedPercentage = false;

    animationBox.style.backgroundColor = '#000';
    let bottomInterval = setInterval(loadBottomProgress, 24);
    function loadBottomProgress() {
      if (width >= 100) {
        clearInterval(bottomInterval);
        animateProgressBar();
      } else {
        width += 2;
        bottomProgressBar.style.width = width + '%';
        percentage.innerHTML = width + '%';

        if (width === 60 && !touchedPercentage) {
          loadingText.style.opacity = '1';
        }
      }
    }

    function animateProgressBar() {
      let interval = setInterval(frame, 2);

      function frame() {
        if (height >= 100) {
          clearInterval(interval);
          loader.style.display = 'none';
        } else {
          height += 10;
          progressBar.style.height = height + '%';
          if (height === 20 && !touchedPercentage) {
            loadingText.style.color = '#000';
          }
          if (height === 100 && !touchedPercentage) {
            touchedPercentage = true;
            percentage.classList.add('transition'); // 添加过渡类
            percentage.style.color = '#FB7DF1';

            setTimeout(() => {
              animationBox.style.background =
                'linear-gradient(156deg, #151a31 0%, #191e37 14.73%, #12172c 35.15%, #0d1317 76.29%)';
              percentage.style.opacity = '0';
              bottomProgressBar.style.display = 'none';
              progressBar.style.animation = 'progressBarAnimation 1s ease-in-out forwards';

              toHome();
              loadingText.style.animation = 'loadingTextAnimation 1s ease-in-out forwards';
            }, 1000); // 停留 1 秒钟

            function toHome() {
              setTimeout(() => {
                loader.remove();
                progressBar.remove();
                bottomProgressBar.remove();
                percentage.remove();
                loadingText.remove();

                const fragment = document.createDocumentFragment();
                fragment.appendChild(nietaHeader);
                fragment.appendChild(nietaContent1);
                fragment.appendChild(nietaContent2);
                fragment.appendChild(nietaContent3);
                fragment.appendChild(nietaFooter);

                parent.insertBefore(fragment, mainContent);
              }, 1500);
            }
          }
        }
      }
    }
  });
</script>
