---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="src/styles/styles375.css"
      media="screen and (min-width: 375px) and (max-width: 743px)"
    />
    <link
      rel="stylesheet"
      href="src/styles/styles744.css"
      media="screen and (min-width: 744px) and (max-width: 1439px)"
    />
    <link
      rel="stylesheet"
      href="src/styles/styles1440.css"
      media="screen and (min-width: 1440px) and (max-width: 1919px)"
    />
    <link rel="stylesheet" href="src/styles/styles1920.css" media="screen and (min-width: 1920px)" />
    <script src="/node_modules/amfe-flexible/index.js" is:inline></script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: grid;
    height: 100vh;
  }
  @media screen and (min-width: 1920px) {
    body {
      grid-template-rows: 1024px 1024px 576px 512px 64px;
    }
  }

  @media screen and (min-width: 1440px) and (max-width: 1919px) {
    body {
      grid-template-rows: 1024px 1024px 576px 512px 64px;
    }
  }

  @media (min-width: 744px) and (max-width: 1439px) {
    body {
      grid-template-rows: 1133px 1133px 560px 1037px 48px;
    }
  }
  @media screen and (max-width: 743px) {
    body {
      grid-template-rows: 812px 812px 444px 667px 105px;
    }
  }
</style>
