---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href={import.meta.env.BASE_URL + '/favicon.ico'} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href={import.meta.env.BASE_URL + '/styles/styles375.css'}
      media="screen and (max-width: 744px)"
    />
    <link
      rel="stylesheet"
      href={import.meta.env.BASE_URL + '/styles/styles744.css'}
      media="screen and (min-width: 744px) and (max-width: 1440px)"
    />
    <link
      rel="stylesheet"
      href={import.meta.env.BASE_URL + '/styles/styles1440.css'}
      media="screen and (min-width: 1440px) and (max-width: 1920px)"
    />
    <link
      rel="stylesheet"
      href={import.meta.env.BASE_URL + '/styles/styles1920.css'}
      media="screen and (min-width: 1920px)"
    />
    <script src={import.meta.env.BASE_URL + '/js/index.js'} is:inline></script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: grid;
    height: 100vh;
  }
  @media screen and (min-width: 1920px) {
    body {
      grid-template-rows: 5.33rem 5.33rem 3rem 2.67rem 0.33rem;
    }
  }

  @media screen and (min-width: 1440px) and (max-width: 1920px) {
    body {
      grid-template-rows: 7.11rem 7.11rem 4rem 3.56rem 0.44rem;
    }
  }

  @media (min-width: 744px) and (max-width: 1440px) {
    body {
      grid-template-rows: 15.22rem 15.22rem 7.53rem 13.94rem 0.65rem;
    }
  }
  @media screen and (max-width: 744px) {
    body {
      grid-template-rows: 21.65rem 21.65rem 11.84rem 17.79rem 2.8rem;
    }
  }
</style>
